html,
body {
  width:100%;
  height:100%;
}

body {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.trombinoscope > .card {
  max-width: 230px;
  display: inline-block;
  vertical-align: top;
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 52px;
}